@import "/src/styles/breakpoints.scss";
.new {
	width: 100%;
	display: flex;

	.newContainer {
		flex: 6;

		.top,
		.bottom {
			-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
			box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
			padding: 10px;
			margin: 20px;
			display: flex;
			.form-config {
				width: 1200px;
			}
		}
	}
}

@include media("<=phone") {
	.new {
		width: 100%;
		display: flex;

		.newContainer {
			flex: 6;

			.top,
			.bottom {
				-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
				box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
				padding: 10px;
				margin: 20px;
				display: flex;
				.form-config {
					width: 1200px;
				}
			}
		}
	}
}
@include media(">=phone", "<tablet") {
	.new {
		width: 100%;
		display: flex;

		.newContainer {
			flex: 6;

			.top,
			.bottom {
				-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
				box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
				padding: 10px;
				margin: 20px;
				display: flex;
				.form-config {
					width: 1200px;
				}
			}
		}
	}
}
@include media(">=smalldesktop", "<desktop") {
	.new {
		width: 100%;
		display: flex;

		.newContainer {
			flex: 6;

			.top,
			.bottom {
				-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
				box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
				padding: 10px;
				margin: 20px;
				display: flex;
				.form-config {
					width: 1200px;
				}
			}
		}
	}
}
@include media(">=tablet", "<smalldesktop") {
	.new {
		width: 100%;
		display: flex;

		.newContainer {
			flex: 6;

			.top,
			.bottom {
				-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
				box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
				padding: 10px;
				margin: 20px;
				display: flex;
				.form-config {
					width: 1200px;
				}
			}
		}
	}
}
@include media(">=desktop", "<largedesktop") {
	.new {
		width: 100%;
		display: flex;

		.newContainer {
			flex: 6;

			.top,
			.bottom {
				-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
				box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
				padding: 10px;
				margin: 20px;
				display: flex;
				.form-config {
					width: 1200px;
				}
			}
		}
	}
}
@include media(">=largedesktop") {
	.new {
		width: 100%;
		display: flex;

		.newContainer {
			flex: 6;

			.top,
			.bottom {
				-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
				box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
				padding: 10px;
				margin: 20px;
				display: flex;

				.form-config {
					width: 1200px;
				}
			}
		}
	}
}
