.form-demo .card {
	min-width: 450px;
}
.form-demo .card form {
	margin-top: 2rem;
}
.form-demo .card .field {
	margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
	.form-demo .card {
		width: 80%;
	}
}
@media screen and (max-width: 640px) {
	.form-demo .card {
		width: 100%;
		min-width: 0;
	}
}

@import "/src/styles/breakpoints.scss";

@include media("<=phone") {
	.new {
		width: 100%;
		display: flex;

		.newContainer {
			flex: 6;

			.top,
			.bottom {
				-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
				box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
				padding: 10px;
				margin: 20px;
				display: flex;

				h1 {
					color: lightgray;
					font-size: 20px;
				}

				.left {
					flex: 1;
					text-align: center;

					img {
						width: 100px;
						height: 100px;
						border-radius: 50%;
						object-fit: cover;
					}
				}

				.right {
					flex: 2;

					form {
						display: flex;
						flex-wrap: wrap;
						gap: 30px;
						justify-content: space-around;

						.formInput {
							width: 20%;

							label {
								display: flex;
								align-items: center;
								gap: 10px;

								.icon {
									cursor: pointer;
								}
							}

							input {
								width: 100%;
								padding: 5px;
								border: none;
								outline: none;
								border-bottom: 1px solid gray;
							}
						}

						button {
							width: 150px;
							padding: 10px;
							border: none;
							background-color: teal;
							color: white;
							font-weight: bold;
							cursor: pointer;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
@include media(">=phone", "<tablet") {
	.new {
		width: 100%;
		display: flex;

		.newContainer {
			flex: 6;

			.top,
			.bottom {
				-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
				box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
				padding: 10px;
				margin: 20px;
				display: flex;

				h1 {
					color: lightgray;
					font-size: 20px;
				}
				h2 {
					color: lightgray;
					font-size: 16px;
				}

				.left {
					flex: 1;
					text-align: center;

					img {
						width: 100px;
						height: 100px;
						border-radius: 50%;
						object-fit: cover;
					}
				}

				.right {
					flex: 2;

					form {
						display: flex;
						flex-wrap: wrap;
						gap: 30px;
						justify-content: space-around;

						.formInput {
							width: 40%;

							label {
								display: flex;
								align-items: center;
								gap: 10px;

								.icon {
									cursor: pointer;
								}
							}

							input {
								width: 100%;
								padding: 5px;
								border: none;
								outline: none;
								border-bottom: 1px solid gray;
							}
						}

						button {
							width: 150px;
							padding: 10px;
							border: none;
							background-color: teal;
							color: white;
							font-weight: bold;
							cursor: pointer;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
@include media(">=smalldesktop", "<desktop") {
	.new {
		width: 100%;
		display: flex;

		.newContainer {
			flex: 6;

			.top,
			.bottom {
				-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
				box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
				padding: 10px;
				margin: 20px;
				display: flex;

				h1 {
					color: lightgray;
					font-size: 20px;
				}
				h2 {
					color: lightgray;
					font-size: 16px;
				}

				.left {
					flex: 1;
					text-align: center;

					img {
						width: 100px;
						height: 100px;
						border-radius: 50%;
						object-fit: cover;
					}
				}

				.right {
					flex: 2;

					form {
						display: flex;
						flex-wrap: wrap;
						gap: 30px;
						justify-content: space-around;

						.formInput {
							width: 40%;

							label {
								display: flex;
								align-items: center;
								gap: 10px;

								.icon {
									cursor: pointer;
								}
							}

							input {
								width: 50%;
								padding: 5px;
								border: none;
								outline: none;
								border-bottom: 1px solid gray;
							}
						}

						button {
							width: 150px;
							padding: 10px;
							border: none;
							background-color: teal;
							color: white;
							font-weight: bold;
							cursor: pointer;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
@include media(">=tablet", "<smalldesktop") {
	.new {
		width: 100%;
		display: flex;

		.newContainer {
			flex: 6;

			.top,
			.bottom {
				-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
				box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
				padding: 10px;
				margin: 20px;
				display: flex;

				h1 {
					color: rgb(14, 14, 14);
					font-size: 20px;
				}
				h2 {
					color: lightgray;
					font-size: 16px;
				}

				.left {
					flex: 1;
					text-align: center;

					img {
						width: 100px;
						height: 100px;
						border-radius: 50%;
						object-fit: cover;
					}
				}

				.right {
					flex: 2;

					form {
						display: flex;
						flex-wrap: wrap;
						gap: 30px;
						justify-content: space-around;

						.formInput {
							width: 40%;

							label {
								display: flex;
								align-items: center;
								gap: 10px;

								.icon {
									cursor: pointer;
								}
							}

							input {
								width: 100%;
								padding: 5px;
								border: none;
								outline: none;
								border-bottom: 1px solid gray;
							}
						}

						button {
							width: 150px;
							padding: 10px;
							border: none;
							background-color: teal;
							color: white;
							font-weight: bold;
							cursor: pointer;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
@include media(">=desktop", "<largedesktop") {
	.new {
		width: 100%;
		display: flex;

		.newContainer {
			flex: 6;

			.top,
			.bottom {
				-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
				box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
				padding: 10px;
				margin: 20px;
				display: flex;

				h1 {
					color: rgb(11, 11, 11);
					font-size: 20px;
				}

				h2 {
					color: lightgray;
					font-size: 16px;
				}

				.left {
					flex: 1;
					text-align: center;

					img {
						width: 100px;
						height: 100px;
						border-radius: 50%;
						object-fit: cover;
					}
				}

				.right {
					flex: 2;

					form {
						display: flex;
						flex-wrap: wrap;
						gap: 30px;
						justify-content: space-around;

						.formInput {
							width: 40%;

							label {
								display: flex;
								align-items: center;
								gap: 10px;

								.icon {
									cursor: pointer;
								}
							}

							input {
								width: 100%;
								padding: 5px;
								border: none;
								outline: none;
								border-bottom: 1px solid gray;
							}
						}

						button {
							width: 150px;
							padding: 10px;
							border: none;
							background-color: teal;
							color: white;
							font-weight: bold;
							cursor: pointer;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
@include media(">=largedesktop") {
	.new {
		width: 100%;
		display: flex;

		.newContainer {
			flex: 6;

			.top,
			.bottom {
				-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
				box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
				padding: 10px;
				margin: 20px;
				display: flex;

				h1 {
					color: rgb(13, 12, 12);
					font-size: 20px;
				}

				h2 {
					color: rgb(43, 41, 41);
					font-size: 16px;
				}

				.left {
					flex: 1;
					text-align: center;

					img {
						width: 100px;
						height: 100px;
						border-radius: 50%;
						object-fit: cover;
					}
				}

				.right {
					flex: 2;

					form {
						display: flex;
						flex-wrap: wrap;
						gap: 30px;
						justify-content: space-around;

						.formInput {
							width: 40%;

							label {
								display: flex;
								align-items: center;
								gap: 10px;

								.icon {
									cursor: pointer;
								}
							}

							input {
								width: 100%;
								padding: 5px;
								border: none;
								outline: none;
								border-bottom: 1px solid gray;
							}
						}

						button {
							width: 150px;
							padding: 10px;
							border: none;
							background-color: teal;
							color: white;
							font-weight: bold;
							cursor: pointer;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
@import "/src/styles/breakpoints.scss";

@include media("<=phone") {
	.list {
		display: flex;
		width: 100%;
		.listContainer {
			flex: 6;
		}
	}
}
@include media(">=phone", "<tablet") {
	.list {
		display: flex;
		width: 100%;
		.listContainer {
			flex: 6;
		}
	}
}
@include media(">=smalldesktop", "<desktop") {
	.list {
		display: flex;
		width: 100%;
		.listContainer {
			flex: 6;
		}
	}
}
@include media(">=tablet", "<smalldesktop") {
	.list {
		display: flex;
		width: 100%;
		.listContainer {
			flex: 6;
		}
	}
}
@include media(">=desktop", "<largedesktop") {
	.list {
		display: flex;
		width: 100%;
		.listContainer {
			flex: 6;
		}
	}
}
@include media(">=largedesktop") {
	.list {
		display: flex;
		width: 100%;
		.listContainer {
			flex: 6;
		}
	}
}

.color {
	background: rgb(182, 156, 85);
}

.textfield {
	width: 50%;
}
